.categories {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}
.category-card, .category-card img {
    border-radius: 8px;
}
.category-card {
    display: block;
    border: 1px solid lightgray;
    box-shadow: 4px 4px 3px darkgray;
    margin: 0 10px;
}
.category-card img {
    width: 99%;
}